* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
header {
  height: 837px;
  background-color: #fff8f3;
  background-image: url("../images/developer.png"), url("../images/hardy.png"),
    url("../images/header_bg.png");

  background-repeat: no-repeat;
  background-position: 2%, right 5% bottom, right bottom;
}

header .nav-content h3 {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  line-height: normal;
}

header .nav-content h3 span {
  color: #fd6e0a;
}
header .nav-content {
  /* background-color: yellow; */
  padding: 30px 12%;
  display: flex;
  justify-content: space-between;
}
header .nav-link a {
  text-decoration: none;
  color: #474747;
}
header .nav-link li {
  list-style: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

header .nav-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: yellow; */
  width: 450px;
}

header .nav-link button {
  width: 150px;
  height: 64px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background: #fd6e0a;
  text-color: white;
  color: #fff;
  font-weight: 700;
}

header .about-me {
  /* background-color: red; */
  width: 45%;
  margin: 5% 8%;
  padding: 50px 100px;
}

.about-me h3 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}

.about-me h1 {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
}

.about-me .about-me-content {
  margin-top: 30px;
}

.about-me p {
  width: 80%;
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.about-me .button-group {
  /* background-color: red; */
  width: 550px;
}
.button-group:nth-of-type(2) {
  margin-left: 100px;
}

.about-me-content button {
  width: 200px;
  height: 64px;
  background-color: #fd6e0a;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

#contact {
  margin-left: 20px;
}

.main-width {
  width: 1140px;
  height: 550px;
  margin: 200px auto;
}

main .about-me-info {
  background-color: #fff8f3;
}

main .about-me-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main .about-me-info h3 {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-top: 60px;
}

main .about-me-info p {
  width: 827px;
  color: #757575;
  margin-top: 60px;
  font-size: 18px;
}

main .about-me-info .details {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  width: 827px;
  margin-top: 60px;
}

main .info {
  display: flex;
  flex-direction: column;
  width: 190px;
  height: 60px;
  /* background-color: yellow; */
}

main .info .label {
  color: #757575;
}

main .info .label-description {
  color: #474747;
  font-size: 15px;
  font-weight: bold;
}

.what-i-do {
  text-align: center;
  height: 200px;
  /* background-color: red; */
  margin-bottom: 10px;
}

.what-i-do > h2 {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}

.what-i-do > p {
  /* background-color: red; */
  margin: 20px auto;
  width: 909px;
  height: 90px;
  text-align: center;
  color: #757575;
}

.skill-bar {
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  width: 1240px;
  margin: 20px auto;
}

.skill-bar .skill {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 207px;
  height: 350px;
  padding: 30px;
  /* background-color: red; */
  /* border: 1px solid black; */
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-bar .skill p {
  width: 201px;
  height: 196px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.skill-bar .skill img {
  width: 44px;
  height: 40px;
}

.skill-bar .skill h2 {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}
